<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>

    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.loopayeh.pkgsender.pkg</string>
            <key>UTTypeDescription</key>
            <string>PS4/PS5 Package</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pkg</string>
                </array>
            </dict>
        </dict>
    </array>

    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <key>UIFileSharingEnabled</key>
    <true/>

    <key>UISupportsDocumentBrowser</key>
    <true/>

</dict>
</plist>
